<div class="@GetClass()">
    <SaveButton IsSaving="IsSaving" Class="Class" OnClick="OnClick" ButtonType="ButtonType.Submit"/>
</div>

@code {
    [Parameter]
    public bool IsSaving { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    private string GetClass()
    {
        return $"d-flex flex-row justify-end {Class}";
    }
}
