@using Alma.Modules.Dashboards.Interop
@inject IGridstackInterop GridStack;

<div class="grid-stack">
	@ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GridStack.InitializeAsync();
        }
    }
}
