.grid-stack {
    background-color: #EAEAEA;
    min-height: 64px;
    border: 3px dashed #DDD
}

.grid-stack-static {
    background-color: #EEE;
    border: none;
}

.grid-stack-item-content {
    background-color: transparent;
}