@using Alma.Workflows.Models.Activities
@using MudBlazor

<MudDialog>
    <DialogContent>
        
        <MudTextField Label="Nome" @bind-Value="Field.Name" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mb-3" />
        
        <MudTextField Label="Rótulo" @bind-Value="Field.Label" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mb-3" />
        
        <MudSelect Label="Tipo" @bind-Value="Field.Type" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mb-3">
            <MudSelectItem Value="Alma.Workflows.Enums.FieldType.Text" Text="Texto" />
            <MudSelectItem Value="Alma.Workflows.Enums.FieldType.Number" Text="Número" />
        </MudSelect>
        
        <MudTextField Label="Placeholder" @bind-Value="Field.Placeholder" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mb-3" />

        <MudSwitch Label="Obrigatório" @bind-Value="Field.Required" Class="mb-3" Color="Color.Primary" />

        <div class="d-flex flex-row justify-end">
            <MudButton OnClick="@(() => Dialog.Cancel())" Class="ml-2">Cancelar</MudButton>
            <MudButton OnClick="@(() => Dialog.Close(DialogResult.Ok(Field)))" Variant="Variant.Filled" Color="Color.Primary">Salvar</MudButton>
        </div>
    </DialogContent>
</MudDialog>

@code {

    [CascadingParameter]
    public IMudDialogInstance Dialog { get; set; } = null!;

    [Parameter]
    public FormField Field { get; set; } = default!;
}